body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'RaceSpot';
  src: local('RaceSpot'), url(./fonts/RaceSport.ttf) format('truetype');
}

@font-face {
  font-family: 'TTLakes';
  src: local('TT Lakes Neue Expanded Black Italic'), local('TT-Lakes-Neue-Expanded-Black-Italic'),
      url(./fonts/TTLakesNeueExp-BlackIt.woff2) format('woff2'),
      url(./fonts/TTLakesNeueExp-BlackIt.woff) format('woff'),
      url(./fonts/TTLakesNeueExp-BlackIt.ttf) format('truetype');
  font-weight: 900;
  font-style: italic;
}
